
.badge-primary {
    background-color: yellow;
    color: black;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 20px;
    opacity: 0; /* Initially hidden */
    animation: fadeIn 0.5s ease forwards; /* Fade in animation */
  }
  
.lotto-container {
    background-color: #f0f0f0; /* Light gray background color */
    padding: 20px; /* Add some padding for better appearance */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  